<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Explore Indian Brands</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav> -->
<div class="top_header clearfix">
	<div class="ct-wrapper">
		<!-- blog_main_navigation_menu -->
		<div class="nav-menu">
			<div class="vt_menu_toggle"></div>
			<ul class="clearfix blog_menus">
				<li>
					<a class="current" href="/">Home</a>
				</li>
				<li>
					<a href="#" class="">News</a>
				</li>
				<li>
					<a href="#">Lifestyle</a>
				</li>
				<li>
					<a href="#" class="">Fashion</a>
				</li>
				<li>
					<a href="#" class="">Nature</a>
				</li>
				<li>
					<a href="#" class="">Health</a>
				</li>
				<li>
					<a href="/p/sample-page.html" class="">Travel</a>
				</li>
			</ul>
		</div>
		<div class="pull-right clearfix social_search">
			<div class="search_from pull-right">
				<div class="search-form-wrapper">
					<form action="/search" method="get" role="search">
						<input name="q" placeholder="Search and hit enter" type="text">
					</form>
				</div>
			</div>
			<div class="social-wrap pull-left">
				<ul class="dslc-social">
					<li>
						<a href="#" target="_blank"></a>
					</li>
					<li>
						<a href="#" target="_blank"></a>
					</li>
					<li>
						<a href="#" target="_blank"></a>
					</li>
					<li>
						<a href="#" target="_blank"></a>
					</li>
					<li>
						<a href="#" target="_blank"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<header class="blog_header" id="blog_header">
	<div class="ct-wrapper clearfix">
		<div class="header_wrapper clearfix">
			<div class="header section" id="header">
				<div class="widget Header" id="Header1">
					<div id="header-inner">
						<a href="http://vanice-veethemes.blogspot.in/" style="display: block">
						<img alt="Vanice" id="Header1_headerimg" src="/assets/logo.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="clear"></div>