<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><%= link_to 'Milk products', categories_path(:category => 'milk_products') %></li>
		<li><%= link_to 'Choclates', categories_path(:category => 'choclates') %></li>
	</ul>
</div>